$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$card-width:  240px;

body {
  background: #f5f5f5;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.menubar {
  font-size: 14px;
  background: white;
  margin-bottom: 40px;
  padding: 0 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #DDDDDD;

  .row {
    margin: 0;
    padding: 0;
  }

  [class^="col"] {
    margin: 0;
    padding: 0;
  }

  .btn {
    border-radius: 0;
    padding: 10px 8px;
    background: transparent;

    &:hover {
      background: #eaeaea;
    }
  }

  .logo {
    padding: 6px;
    font-family: Georgia, serif;

    span {
      margin-left: 4px;
      position: relative;
      top: 2px;
    }
  }
}

.topSection {
  background: #3a3a3a;
  border-bottom: 1px solid #1a1a1a;
}

.card-container {
  display: inline-block;
  width: $card-width;
  margin: 0px auto;
  background: white;
  box-shadow: rgba(0,0,0,0.2) 0px 2px 4px -2px;
  overflow: auto;
}

#dogGrid {
  text-align: center;

  .card-container {
    text-align: center;
    width: auto;
    padding: 20px;
    margin: 5px 10px
  }
}

#paletteContainer {
  line-height: 0;

  #palette {
    background: url('../images/bg.jpg');
    line-height: 0;
    display: inline-block;
  }

  table {
    tr {
      td {
        height: 10px !important;
        width: 10px !important;
        box-sizing: border-box;
        //background-image: url('../images/bg.jpg');
        border: 1px solid #CCCCCC;
      }
    }
  }
}

#card-content {
  margin-top: 20px;
  margin-bottom: 20px;
}


// Code Snippet
  #snippet {
    background: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius: 3px;

    font-size: 10px;

    width: 100%;
    height: 200px;
    margin-top: 10px;
    overflow: scroll;
  }

// Colors
  #swatches {
    text-align: left;
  }


  .swatch {
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;

    border-color: transparent;
    border-width: 1px;
    border-style: solid;

    display: inline-block;

    // Erase
    &[data-color="transparent"] { background: url('../images/bg.jpg'); }

    // Grayscale
    &[data-color="000000"] { background: #000000; }
    &[data-color="595f68"] { background: #595f68; }
    &[data-color="848c96"] { background: #848c96; }
    &[data-color="ffffff"] { background: #ffffff; border-color: #CCCCCC; }

    // Yellows
    &[data-color="dcc285"] { background: #dcc285; }
    &[data-color="ffff00"] { background: #ffff00; }

    // Reds
    &[data-color="934a4a"] { background: #934a4a; }
    &[data-color="ff2c2c"] { background: #ff2c2c; }
    &[data-color="db8494"] { background: #db8494; }

    // Greens
    &[data-color="2cff2c"] { background: #00ff33; }

    // Blues
    &[data-color="4a2cff"] { background: #4a2cff; }

    &:hover {
      cursor: cell;
    }
  }

  #selectedSwatch {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;

    background: #000000;
    border: 1px solid #1a1a1a;
  }
