.modal-content {
  box-shadow: none;
  border-radius: 15px;
}

.modal {
  background: rgba(100,200,255,0.5);

  .modal-header {
    border-bottom: 0;
    padding-bottom: 0;
    text-align: center;
  }

  .modal-footer {
    border-top: 0;
    padding-top: 0;
  }
}
