// Code Snippet
#snippet {
  background: #FAFAFA;
  border: 1px solid #EAEAEA;
  border-radius: 3px;

  font-size: 10px;

  width: 100%;
  height: 200px;
  margin-top: 10px;
  overflow: scroll;
}

#snippet2 {
  display: inline-block;
  margin: 0 auto;
}
