// Code Snippet
.copyCode {
  background: #FAFAFA;
  border: 1px solid #EAEAEA;
  border-radius: 3px;

  font-size: 10px;

  padding: 5px;
  box-sizing: border-box;

  width: 100%;
  margin-top: 10px;
  overflow: scroll;
}

#snippet {
  height: 200px;
}

#snippet2 {
  display: block;
  margin: 0 auto 15px;
}

.snippetContainer {
  display:none;
  position: relative;

  .copyCanvasLink {
    position: absolute;
    right: 0;
    top: 10px;
  }
}
