// Colors
#swatches {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}


.swatch {
  padding: 10px;
  margin: 0;
  box-sizing: border-box;

  border-color: transparent;
  border-width: 2px;
  border-style: solid;

  display: inline-block;

  &.selectedSwatch {
    border: 2px solid red;
  }

  // Erase
  &[data-color="transparent"] { background: url('../images/bg.jpg'); }

#currentSwatch {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;

  background: #000000;
  border: 1px solid #1a1a1a;
  float: left;
}

.currentSwatch-input {
  width: 80px;
  margin-left: 70px;
  margin-top: 25px;
}
