// Colors
.swatches {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  line-height: 0px;
}


.swatch {
  padding: 13px;
  box-sizing: border-box;

  border-color: transparent;
  border-width: 2px;
  border-style: solid;

  display: inline-block;

  .pictureSwatches & {
    padding: 12.8px;
  }

  &.selectedSwatch {
    border: 2px solid #4a4a4a;
  }

  // Erase
  &[ng-click="switchColor('transparent')"]{ background: url('../images/bg.jpg'); }
}

#currentSwatch {
  height: 34px;
  width: 34px;
  margin-bottom: 15px;
  float: left;

  background: #000000;

  border: 1px solid #CCC;
  border-right: none;

  box-shadow: inset rgba(0,0,0,0.1) 0px 1px 2px;;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.currentSwatch-input {
  width: 175px;
  margin-left: 32px;
  border-radius:0;

  border: 1px solid #CCC;
  box-shadow: inset rgba(0,0,0,0.1) 0px 1px 2px;;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.imageUploadContent {

  .imageTitleWrap {
    padding: 5px 0 10px;
  }
}


@media (max-width: 420px) {
  .swatches {
    margin: 20px;
  }

  .swatch {
    width: 10%;
    padding: 10% 0 0;
  }
}
