<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="Make email more fun with pixel art and love.">
    <meta itemprop="name" content="Email Optimized Dogs">
    <meta itemprop="description" content="Make email more fun with pixel art and love.">
    <meta itemprop="image" content="http://www.emaildog.club/images/og-image.png">
    <meta name="twitter:card" content="Make email more fun with pixel art and love.">
    <meta name="twitter:title" content="Email Optimized Dogs">
    <meta name="twitter:description" content="Make email more fun with pixel art and love.">
    <meta name="twitter:image:src" content="http://www.emaildog.club/images/og-image.png">
    <meta property="og:url" content="http://www.emaildog.club">
    <meta property="og:title" content="Email Optimized Dogs">
    <meta property="og:description" content="Make email more fun with pixel art and love.">
    <meta property="og:site_name" content="Email Optimized Dogs">
    <meta property="og:image" content="http://www.emaildog.club/images/og-image.png">
    <meta property="og:locale" content="en_US">
    <meta name="google-site-verification" content="k_wC1fTB9W2wmORuaF385r5rv7fkKvXLMRf2408Jo-s" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="emailDogsApp" ng-controller="AppCtrl" ng-mouseup="mouseUp()">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="menubar">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 logo">
            <a href="#/">
              <img src="images/dog-logo.png" /> <span class="hidden-xs">Email Optimized Dogs {{$location.path()}}</span>
            </a>
          </div>
          <div class="col-xs-8 text-right" ng-if="!isEdit">
            <a href="#/edit" class="btn btn-primary">Create Pixel Art <span aria-hidden="true" class="iconic iconic-plus-thin" style="margin-left: 10px;"></span></a>
          </div>
          <div class="col-xs-8 text-right" ng-if="isEdit">
            <button class="btn btn-secondary" id="savePixels" ng-click="savePixels()"><span aria-hidden="true" class="iconic iconic-hard-drive"></span> <span class="hidden-xs">save</span></button>
            <button class="btn btn-secondary" id="loadPixels" ng-click="loadPixels()"><span aria-hidden="true" class="iconic iconic-folder"></span> <span class="hidden-xs">load</span></button>
            <button class="btn btn-secondary" id="clearPixels" ng-click="clearPixels()"><span aria-hidden="true" class="iconic iconic-trash"></span> <span class="hidden-xs">clear</span></button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div ng-view=""></div>
    </div>

    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="confirmationModal-header"></h4>
          </div>
          <div class="modal-body">
            <p id="confirmationModal-body"></p>
          </div>
          <div class="modal-footer text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">nevermind...</button>
            <button type="button" class="btn btn-primary" onclick="" id="confirmationModal-button"></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
      r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
      }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create','UA-77562622-1','auto');
      // ga('send', 'pageview'); // This will be sent twice with the $on("$locationChangeSuccess") call.
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="/bower_components/html2canvas/build/html2canvas.js"></script>
    <script src="/bower_components/base64/base64.js"></script>
    <script src="/bower_components/canvas2image/canvas2image/canvas2image.js"></script>
    <script src="/bower_components/filesaver/filesaver.js"></script>
    <script src="/bower_components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <script src="/bower_components/clipboard.js/clipboard.js"></script>
    <script src="/bower_components/get-size/get-size.js"></script>
    <script src="/bower_components/ev-emitter/ev-emitter.js"></script>
    <script src="/bower_components/desandro-matches-selector/matches-selector.js"></script>
    <script src="/bower_components/fizzy-ui-utils/utils.js"></script>
    <script src="/bower_components/outlayer/outlayer.js"></script>
    <script src="/bower_components/masonry/masonry.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(.) scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/color-thief.js"></script>
        <script src="scripts/createKey.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/edit.js"></script>
        <!-- endbuild -->
</body>
</html>
