<div class="dogGrid">
  <div class="card-container flatTop">
    <div id="paletteContainer">
      <div id="palette" ng-bind-html="myTemplate" ng-mousedown="paintPixels($event)" ng-mousemove="paintPixels($event)"></div>
    </div>

    <div class="container-fluid" id="card-content">
      <div class="row">
        <div class="col-xs-12">
          <div id="currentSwatch" ng-style="curSwatchStyle"></div>
          <input id="cp1" type="text" class="form-control currentSwatch-input" ng-model="curColor" ng-change="curColor = parseColor(parseColor(curColor, true), false); switchColor(curColor)" />
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <div class="imageUploadContainer">
            <input class="imageUploadInput" type='file' onChange="angular.element(this).scope().paletteFromImage(this)" accept="image/*" /></input>
            <div class="drag-text">
              Drop reference image to trace
            </div>
          </div>
          <div class="imageUploadContent">
            <img class="imageUploadImage" src="#" alt="your image" />
            <div class="imageTitleWrap">
              <a ng-click="removeUpload()" class="removeImage">Remove reference image</a>
            </div>

            <div class="swatches pictureSwatches" ng-if="imgLoaded">
              <div ng-repeat="color in pictureSwatches track by $index" ng-class="{swatch: true, selectedSwatch: curColor == '#'+color}" style="background: #{{color}}" ng-click="switchColor(color)"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="swatches">
          <div class="swatch" ng-click="switchColor('transparent')"></div><br>
          <div ng-repeat="color in swatches" ng-class="{swatch: true, selectedSwatch: curColor == '#'+color}" style="background: #{{color}}" ng-click="switchColor(color)"></div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary btn-block btn-flatTop" id="getCode" ng-click="showCodeModal()">share it! <span aria-hidden="true" class="iconic iconic-bullhorn"></span></button>

  </div>
</div>

<div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="Get the Code">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Wow! That's beautiful!</h4>
      </div>

      <div class="modal-body">

        <div class="text-center">
          <div class="previewContainer">
            <div id="snippet2" ng-bind-html="previewTemplate"></div>
          </div>

          <div class="btn-group" role="group" aria-label="Pixel size">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                size...
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a id="size-small">small</a></li>
                <li><a id="size-medium">medium</a></li>
                <li><a id="size-large">large</a></li>
              </ul>
            </div>
          </div>

          <button class="btn btn-secondary hidden-xs" id="gmailCopy" ng-click="copy4Gmail()"><span aria-hidden="true" class="iconic iconic-envelope-closed"></span> Copy for gmail</button>
          <button type="submit" id="imgDownload" class="btn btn-secondary hidden-xs" value="Download" download="emaildog.png"><span aria-hidden="true" class="iconic iconic-image-portrait"></span></button>
          <button class="btn btn-secondary" ng-click="showSnippet('#snippet', 'HTML')"><span aria-hidden="true" class="iconic iconic-code"></span></button>
          <button class="btn btn-secondary" ng-click="showSnippet('#canvasLink', 'Link')"><span aria-hidden="true" class="iconic iconic-link-intact"></span></button>

        </div>

        <div>
          <div class="snippetContainer">
            <textarea id="snippet" class="copyCode" ng-click="selectSnippet('#snippet')" readonly="readonly"></textarea>
          </div>
          <div class="snippetContainer">
            <button class="copyCanvasLink" ng-click="copySnippet('#canvasLink')">copy</button>
            <textarea id="canvasLink" class="copyCode" ng-click="selectSnippet('#canvasLink')" readonly="readonly"></textarea>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        Super proud of your masterpiece?<br/>
        Send a link to your artwork to <a ng-href="mailto:{{sendUsALink}}?Subject=See%20my%20masterpiece&Body=Hey%20Email%20Dogs%2C%0D%0A%0D%0ACheckout%20this%20dog%3A%0D%0A{{shareURL}}">thepack@emaildog.club</a> and we might just add it to the homepage!
      </div>
    </div>
  </div>
</div>
